<?xml version="1.0" encoding="utf-8"?>
<!--
//
// File: "App.config"
//
// Revision History:
// 2024/03/22:TomislavMatas: Version "24.123.0.0"
// * Initial version.
//
-->
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler,log4net"/>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="EZAsesAutoType.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
	</System.Windows.Forms.ApplicationConfigurationSection>

	<appSettings>

		<add key="log4net.Config" value="log4net.config"/>
		<add key="log4net.Config.Watch" value="True"/>

		<add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- 
		- Currently supported values for "Browser.Implementation":
		- "Edge"   : Requires "MicrosoftWebDriver.exe"
		- "Chrome" : Requires "chromedriver.exe".
		-->
    <add key="Browser.Implementation" value="Chrome"/>

    <!-- 
    - InitMode: "extended" or "simple"
    -->
		<add key="Browser.InitMode" value="extended"/>

    <!-- 
    - Delay specified amount of milliseconds 
    - after each browser interaction like "enter some text", 
    - "click an element" or just moving around between elements. 
    -->
    <add key="Browser.Interaction.Delay" value="500" />

		<!-- 
    - Wait for specified amount of seconds for "Login Page" to be loaded.
    -->
		<add key="ASES.Timeout.Navigation.LoginPage" value="60"/>

    <!-- 
    - Wait for specified amount of seconds for any 
    - "findItem" operation to complete.
    -->
    <add key="ASES.Timeout.Navigation.Wait" value="60" />

    <!--
    - Wait for specified amount of seconds for any "popup dialog" to apear.
    -->
		<add key="ASES.Timeout.Popup.Wait" value="5" />

    <!--
    - xPath specifications for elements uses with "findItem".
    -->
    <add key="ASES.Element.LoginPage.AtossNote.xPath"
       value="//span[contains(@class,'atossnote')]"/>

    <add key="ASES.Element.NavMenu.xPath"
       value="//a[@id='nav_menu' and contains(@class,'z-atossmenuitem')]"/>

		<add key="ASES.Element.NavMenu.Button.ErfassenZeitbuchung.xPath"
       value="//div[contains(@class,'z-atossbutton')]/*/span[@class='btn-label' and contains(.,'Erfassen Zeitbuchung')]"/>

    <add key="ASES.Element.TimeGrid.Canvas.xPath"
       value="//div[contains(@class,'grid-canvas')]"/>

    <add key="ASES.Element.TimeGrid.Canvas.LastRow.xPath"
       value="//div[contains(@class,'grid-canvas')]/div[contains(@class,'slick-row')][last()]"/>

    <add key="ASES.Element.TimeGrid.Canvas.LastRow.Cell.DateFrom.xPath"
       value="//div[contains(@class,'grid-canvas')]/div[contains(@class,'slick-row')][last()]/div[contains(@class,'slick-cell') and contains(@class,'l4') and contains(@class,'r4') and contains(@class,'editable')]/span/input"/>

    <add key="ASES.Element.TimeGrid.Canvas.LastRow.Cell.DateFrom.xPath"
       value="//div[contains(@class,'grid-canvas')]/div[contains(@class,'slick-row')][last()]/div[contains(@class,'slick-cell') and contains(@class,'l4') and contains(@class,'r4') and contains(@class,'editable')]/span/input"/>

  </appSettings>

	<log4net>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="INFO"/>
			<file value="EZAsesAutoType.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="9"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss,ff}] %-5level [%thread] %type-&gt;%method(l:%line): %message%newline"/>
			</layout>
		</appender>

		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<!-- Log "WARN" (and above) to Windows' EventLog, ignore "INFO" and "DEBUG", those shall go to a log file.-->
			<threshold value="WARN"/>
			<param name="LogName" value="EZAsesAutoType"/>
			<param name="ApplicationName" value="EZAsesAutoType"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</appender>

<!--
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		  <threshold value="DEBUG"/>
		  <layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss,ff}] %-5level [%thread] %type-&gt;%method(l:%line): %message%newline"/>
		  </layout>
		</appender>
		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
		  <threshold value="DEBUG"/>
		  <layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="[%date{yyyy-MM-dd HH:mm:ss,ff}] %-5level [%thread] %type-&gt;%method(l:%line): %message%newline"/>
		  </layout>
		</appender>
		<appender name="SystemDebugAppender" type="log4net.Appender.OutputDebugStringAppender">
		  <threshold value="DEBUG"/>
		  <layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="[%date{yyyy-MM-dd HH:mm:ss,ff}] %-5level [%thread] %type-&gt;%method(l:%line): %message%newline"/>
		  </layout>
		</appender>
-->

		<root>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="EventLogAppender"/>
<!--
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="DebugAppender"/>
			<appender-ref ref="SystemDebugAppender"/> 
-->
		</root>

	</log4net>

 <userSettings>
  <EZAsesAutoType.Properties.Settings>
   <setting name="ASESUserId" serializeAs="String">
    <value>ChangeIt</value>
   </setting>
   <setting name="ASESPassword" serializeAs="String">
    <value>ChangeIt</value>
   </setting>
   <setting name="ASESPunchIn" serializeAs="String">
    <value>09:00</value>
   </setting>
   <setting name="ASESPunchOut" serializeAs="String">
    <value>17:00</value>
   </setting>
   <setting name="ASESBaseUrl" serializeAs="String">
    <value>https://ases.noncd.rz.db.de/SES/html?ClientNo=06</value>
   </setting>
   <setting name="ASESClientList" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>01-Zentrale Cargo</string>
      <string>02-Erfurt Test</string>
      <string>03-DB Konzernleitung</string>
      <string>04-P-Zentrale</string>
      <string>05-Ffm/Fernverk.</string>
      <string>06-DB-Systel</string>
      <string>07-Agv MoVe</string>
      <string>08-DB InfraGO BZ S-B. Berlin</string>
      <string>09-Ffm/Karlstr.</string>
      <string>10-DB Sicherheit</string>
      <string>11-Frankfurt Stephenson</string>
      <string>12-TARIS-SST-Test</string>
      <string>13-Hannover</string>
      <string>14-Hamburg</string>
      <string>15-DB Systemtechnik</string>
      <string>16-Muenchen</string>
      <string>17-Berlin sonstige</string>
      <string>18-DB Regio</string>
      <string>19-Nürnberg</string>
      <string>20-Wuppertal</string>
      <string>21-DBS KT</string>
      <string>22-JobService</string>
      <string>23-München Richelstr.</string>
      <string>24-Cargo Zentrale</string>
      <string>25-FTZ</string>
      <string>26-Stuttgart</string>
      <string>27-Saarbrücken</string>
      <string>28-DB RegioNetz SOB</string>
      <string>29-Witten Werk</string>
      <string>30-DB Regio BWB</string>
      <string>31-Nürnberg Hbf</string>
      <string>32-DB Immobilien</string>
      <string>33-DB T/B</string>
      <string>34-SSC Buchhaltung</string>
      <string>35-Bildung</string>
      <string>36-KS Duisburg</string>
      <string>37-Cargo NL Ffm</string>
      <string>38-Netz  Ffm</string>
      <string>39-DB Cargo-Werke</string>
      <string>40-ICE-BW München</string>
      <string>41-R&amp;T Region</string>
      <string>42-Gastronomie (DBG)</string>
      <string>43-DB Energie</string>
      <string>44-DBS Süd</string>
      <string>45-DB Regio Nord</string>
      <string>46-DB Fernverkehr ICE</string>
      <string>47-DB Service</string>
      <string>48-DB Sicherheit</string>
      <string>49-DB Stiftung</string>
      <string>50-DB Vertrieb</string>
      <string>51-DB Connect</string>
      <string>52-DB Fahrzeuginstandhaltung</string>
      <string>53-DB Regio Mitte</string>
      <string>54-DB InfraGO AG (S&amp;S)</string>
      <string>55-DB Regio NO</string>
      <string>56-DB E&amp;C</string>
      <string>57-DB Regio Bayern</string>
      <string>58-DB Regio SO</string>
      <string>59-DB Regio NRW</string>
      <string>60-DB Fern TL</string>
      <string>61-DB Cargo</string>
      <string>90-DB Personalservice</string>
      <string>DB-Schulung</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ASESClientDefault" serializeAs="String">
    <value>06-DB-Systel</value>
   </setting>
  </EZAsesAutoType.Properties.Settings>
 </userSettings>
</configuration>
